@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
    /* this is just to test tailwind theme config */
    --bg-color: theme('colors.brand-blue');
    --alt-bg-color: theme('colors.blue.500');
    --accent-color: blue-500;
    --text-color-main: gray-900;
    --text-color-highlight: gray-500;
}