.ck-editor__editable_inline {
  min-height: 100px;
}

.ck-content h2 {
  font-size: 1.5rem;
}
.ck-content h3 {
  font-size: 1.17rem;
}
.ck-content h4 {
  font-size: 1.1rem;
}
.ck-content ul {
  padding-left: 20px;
}
.ck-content ol {
  padding-left: 20px;
}
.ck-content a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}
